{% extends 'home.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="container p-2">
        <div class="col  d-flex justify-content-end">
            <button class="btn btn-success "> <i class="fa-solid fa-floppy-disk"></i> Guardar</button> &nbsp;
            <a href="{% url 'impuestos' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Regresar</a>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Descripcion</label>

            </div>
            <div class="col-4">
                {{form.descripcion}}
            </div>

        </div>
       
        
    </div>
</form>
{% endblock %}