{% extends 'home.html' %}
{% load tools %}

{% block content %}
<div class="mr-2 ml-2 p-4">
    <table class="table table-sm table-borderless ">
        <tr>
            <th scope="col">Presupuesto:</th>
            <td>{{ presupuesto.id }}</td>
            <th scope="col">Cliente:</th>
            <td>{{ presupuesto.cliente.nombre }}</td>
            <th scope="col">Cliente Documento:</th>
            <td>{{ presupuesto.cliente.documento }}</td>

        </tr>
        <tr>

            <th scope="col">Cliente Telefono:</th>
            <td>{{ presupuesto.cliente.telefono }}</td>
            <th scope="col">Cliente Correo:</th>
            <td>{{ presupuesto.cliente.correo }}</td>

        </tr>
        <tr>

            <th scope="col">Observacion:</th>
            <td>{{ presupuesto.cliente.observacion }}</td>

        </tr>
        <tr>
            <th scope="col">Total Presupuesto:</th>
            <td style="background-color: #055F83; color: white; font-size:25px;text-align:center">{{ presupuesto.total_presupuesto|intpoint }}
            </td>
            <td><a href="{% url 'presupuesto' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i>
                    Regresar</a></td>
        </tr>


    </table>
</div>

<div class="mr-2 ml-2 p-4">
    <table class="table table-sm  table-bordered ">
        <thead>
            <tr style="background-color: #055F83; color: white;">
                <th scope="col">Codigo</th>
                <th scope="col">Producto</th>
                <th style="text-align: right;" scope="col">Precio Unitario </th>
                <th style="text-align: right;" scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% if detalles %}
            {% for pre in detalles %}
            <tr>

                <td> {{pre.id}} </td>
                <td> {{pre.producto}} </td>
                <td style="text-align: right;"> {{pre.precio_unitario|intpoint}} </td>
                <td style="text-align: right;">{{ pre.cantidad }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr style="background-color: gainsboro;text-align: center;">
                <td colspan="7">Sin Registros</td>
            </tr>
            {% endif %}
        </tbody>

    </table>
</div>
{% endblock %}