{% extends 'home.html' %}
{% load tools %}

{% block content %}


<div class="card pr-2 my-2 mr-3 ml-3 mb-2">
    <div class="card-body pr-2 pl-3 py-1">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="m-0 my-2">{{ title }}</h4>
            </div>

            <div class="col d-flex p-2 justify-content-end">
                <form class="mr-2 w-50" method="get">
                    <input type="text" class="form-control   text-center" name="filter"
                        placeholder="Ingrese el valor a Buscar y presione la tecla Enter">
                </form>

                <a href="{%url 'crear_presupuesto'%}" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Nuevo
                    Presupuesto</a>
                &nbsp;
                <a href="{% url 'home' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Regresar</a>
            </div>


        </div>
    </div>
</div>

<div class=" pr-3  pl-3 ml-0 mb-2">
    <table class="table table-sm table-bordered">

        <thead class="table-dark ">
            <tr class="text-center">
                <th scope="col">Codigo</th>
                <th scope="col">Cliente</th>
                <th scope="col">Documento</th>
                <th scope="col">Total Presupuesto</th>
                <th scope="col">Fecha</th>
                <th style="width: 7%;" scope="col">Estado</th>



                <th style="text-align: right;width: 7%;" scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
           
            {% if page_obj %}
            {% for pre in page_obj %}
            <tr
                style="text-align: center; background-color: {% if pre.estado_presupuesto == 'P' %}#055F83{% elif pre.estado_presupuesto == 'C' %}#0D7941{% elif pre.estado_presupuesto == 'D' %}#830F05{% endif %};color:white;">

                <td> {{pre.id}} </td>
                <td> {{pre.cliente.nombre}} </td>
                <td> {{pre.cliente.documento}} </td>
                <td>{{ pre.total_presupuesto|intpoint}}</td>

                <td> {{pre.fecha|date:'d-M-Y'}} </td>
                <td>
                    {% if pre.estado_presupuesto == 'P' %}
                    Pendiente
                    {% elif pre.estado_presupuesto == 'C' %}
                    Confirmado
                    {% elif pre.estado_presupuesto == 'D' %}
                    Anulado
                    {% endif %}
                </td>


                <td style="text-align: right;">
                    <a href="detallePresupuesto/{{pre.id}}/" title="Ver Detalles del Presupuesto"
                        class="btn btn-ligth"><i class="fa-solid fa-eye" style="color: #f2f2f2;"></i></a>
                    <a href="modificar_cliente/{{cli.id}}/" title="Editar Estado del Presupuesto"
                        class="btn btn-ligth"><i class="fa-solid fa-pen-to-square" style="color: #f7f7f7;"></i></a>

                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr style="background-color: gainsboro;text-align: center;">
                <td colspan="7">Sin Registros</td>
            </tr>
            {% endif %}
        </tbody>

    </table>


   

</div>
{% include 'paginator.html' %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esta Seguro de Eliminar este Cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <i class="fa-solid fa-ban"></i>
                    Cancelar</button>
                <button type="button" id="eliminar" class="btn btn-danger"><i class="fa-solid fa-eraser"></i>
                    Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var eliminarBtn = $('#eliminar');
        eliminarBtn.on('click', function () {
            var dataId = $('.btn_eliminar').data('id');
            var eliminarUrl = `eliminar_cliente/` + dataId + `/`;
            window.location.href = eliminarUrl;
        });
    });
</script>


{% endblock %}