{% extends 'home.html' %}
{% block content %}


<div class="col d-flex p-2 justify-content-end">

    <a href="{%url 'nueva_unidad_medida'%}" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Nueva
        Unidad de Medida</a>
    &nbsp;
    <a href="{% url 'home' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Regresar</a>
</div>

<div class="p-2 mb-2 ml-2 mr-2">
    <h4>Listado de Unidades de Medida</h4>
    <table class="table table-sm table-bordered">
        <thead class="table-dark">
            <tr>
                <th style="width: 3%;">Codigo</th>
                <th style="width: 40%;">Descripcion</th>
                <th style="width: 10%;">Resumido</th>
                <th style="width: 3%; text-align: right !important;">Opciones</th>
            </tr>
        </thead>

        <tbody>
            {% for uni in unidad_medida %}
            <tr>
                <td> {{uni.id}} </td>
                <td> {{uni.descripcion}} </td>
                <td> {{uni.resumido}} </td>
                <td style="text-align: right;">
                    <a href="modificar_unidad_medida/{{uni.id}}/" class="btn btn-ligth"><i
                            class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#" class="btn btn-light btn_eliminar" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-id="{{uni.id}}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Unidad de Medida</h5>
            </div>
            <div class="modal-body">
                Esta Seguro de Eliminar esta Unidad de Medida?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancelar" data-bs-dismiss="modal"> <i
                        class="fa-solid fa-ban"></i>
                    Cancelar</button>
                <button id="eliminar" class="btn btn-danger"><i class="fa-solid fa-eraser"></i>
                    Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn_eliminar').on('click', function () {
            $('#exampleModal').modal('show');
            // Obtén el data-id del botón específico que se hizo clic
            var dataId = $(this).data('id');
            // Actualiza el atributo data-id del botón eliminar
            $('#eliminar').data('id', dataId);
        });

        $('.cancelar').on('click', function () {
            $('#exampleModal').modal('hide');
        });

        $('#eliminar').on('click', function (e) {
            // Obtén el data-id del botón eliminar
            var dataId = $(this).data('id');
            var eliminarUrl = `eliminar_unidad_medida/` + dataId + `/`;
            window.location.href = eliminarUrl;
        });
    });
</script>

{% endblock %}