{% extends 'home.html' %}
{% block content %}

<div class="p-4">
    <div class="col d-flex justify-content-end">
        <a href="{%url 'nuevo_cliente'%}" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Nuevo Cliente</a> &nbsp;
        <a href="{% url 'home' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Regresar</a>
    </div>
    <table class="table">
        <div class="col-md-4 mb-3 d-flex justify-content-end">
            <input type="text" class="form-control text-center" id="buscarCliente" placeholder="Ingrese el valor a Buscar">
        </div>
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Documento</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% if clientes %}
            {% for cli in clientes %}
            <tr>
                <th scope="row"> {{cli.id}} </th>
                <td> {{cli.nombre}} </td>
                <td> {{cli.apellido}} </td>
                <td> {{cli.documento}} </td>
                <td> {{cli.direccion}} </td>
                <td> {{cli.telefono}} </td>
                <td>
                    <a href="modificar_cliente/{{cli.id}}/" class="btn btn-ligth"><i
                            class="fa-regular fa-pen-to-square"></i></a>
                    <a href="#" class="btn btn-light btn_eliminar" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        data-id="{{cli.id}}" >
                        <i class="fa-solid fa-trash-can"></i>
                    </a>

                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr style="background-color: gainsboro;text-align: center;">
                <td colspan="7">Sin Registros</td>
            </tr>
            {% endif %}
        </tbody>

    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esta Seguro de Eliminar este Cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <i class="fa-solid fa-ban"></i> Cancelar</button>
                <button type="button" id="eliminar" class="btn btn-danger"><i class="fa-solid fa-eraser"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var eliminarBtn = $('#eliminar');
        eliminarBtn.on('click', function () {
            var dataId = $('.btn_eliminar').data('id');
            var eliminarUrl = `eliminar_cliente/`+dataId+`/`;
            window.location.href = eliminarUrl;
        });
    });
</script>


{% endblock %}