{% extends 'home.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="container p-2">
        <div class="col  d-flex justify-content-end">
            <button class="btn btn-success "> <i class="fa-solid fa-floppy-disk"></i> Guardar</button> &nbsp;
            <a href="{% url 'productos' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"></i> Regresar</a>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Descripci&oacute;n</label>

            </div>
            <div class="col-4">
                {{form.descripcion}}
            </div>
            <div class="col-2">
                <label for="">Cod. Barra</label>

            </div>
            <div class="col-4">
                {{form.codigo_barra}}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Cod. Remitido</label>

            </div>
            <div class="col-4">
                {{form.codigo_remitido}}
            </div>
            <div class="col-2">
                <label for="">Precio Costo</label>

            </div>
            <div class="col-4">
                {{form.precio_costo}}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Precio Venta</label>

            </div>
            <div class="col-4">
                {{form.precio_venta}}
            </div>
            <div class="col-2">
                <label for="">Precio Mayorista</label>

            </div>
            <div class="col-4">
                {{form.precio_mayorista}}
            </div>
           
            
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Existencia</label>

            </div>
            <div class="col-4">
                {{form.existencia}}
            </div>
            
        </div>
        <div class="row my-2">
            <div class="col-2">
                <label for="">Impuesto</label>

            </div>
            <div class="col-4">
                {{form.impuesto}}
            </div>
            <div class="col-2">
                <label for="">Clasificaci&oacute;n</label>

            </div>
            <div class="col-4">
                {{form.clasificacion}}
            </div>
            
        </div>

        <div class="row my-2">
            <div class="col-2">
                <label for="">Unidad Medida</label>

            </div>
            <div class="col-4">
                {{form.unidad_medida}}
            </div>
            
        </div>
    </div>
</form>
{% endblock %}